contextlib2==0.6.0.post1
coverage==5.1
filelock==3.0.12
flake8==3.7.9
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-cov==2.8.1
pytest-doctestplus==0.5.0
pytest-filter-subpackage==0.1.1
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
